version: "3.8"

services:
  db:
    build:
      context: ./packages/api/src/services/db
      dockerfile: Dockerfile
    env_file:
      - ./.env
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - 6432:5432
  redis:
    image: "redis:alpine"
    ports:
      - 6379:6379
    volumes:
      - ./redis-data:/var/lib/redis/data
  app:
    build:
      context: ./packages/ui
      dockerfile: Dockerfile
    ports:
      - 3000:3000
  api:
    build:
      context: ./packages/api
      dockerfile: Dockerfile
    ports:
      - 3001:3001
    env_file:
      - ./.env
    depends_on:
      - "db"
      - "redis"
    command:  bash -c "./wait-for-it.sh db:5432 && ./wait-for-it.sh redis:6379 && yarn start"
